<%= form_for([@job, @bid]) do |f| %>
	<% if @bid.user.id == current_user.id && @bid.bid_status == 0 %>
		<div class="field">
		  <%= f.label :bid_value %><br>
		  <%= f.number_field :bid_value %>
		</div>
		<div class="actions">
		  <%= f.submit %>
		</div>
	<% end %>
<% end %>