<table class="table table-hover">

	<thead>
		<tr>
			<th>#</th>
			<th>Job</th>
			<th>Bid</th>
			<th>---</th>
		</tr>
	</thead>

	<tbody>
		<% if bids.any? %>
			<% bids.each do |bid| %>
				<%= render 'bid', bid: bid %>
			<% end %>
		<% else %>
			<tr>
				<td colspan="4">No bids available</td>
			</tr>
		<% end %>
	</tbody>
</table>