<p id="notice"><%= notice %></p>

<h1>Listing Bids</h1>

<div class="project-intro">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <%= render 'bids/table', bids: @bids %>
        </div>
      </div>
    </div>  
  </div>  
</div>

<%= link_to 'New Bid', new_job_bid_path %>
