<div class="container">
	<h1>Editing Job</h1>
	<%= render 'form' %>

	<%= link_to 'Show', @job, class: "btn btn-success btn-lg" %>
	<%= link_to 'Back', jobs_path, class: "btn btn-success btn-lg"%>
</div>
