<% if @displayed_jobs.any? %>
	<%= render "shared/carousel", jobs: @displayed_jobs %>
	<div class="container">
		<br><br><br>
		<h3 class="job-subtitle">Our recent jobs</h3>
		<div class="row">
			<%= render @jobs.last(3) %>
		</div>
	</div>
<% else %>
	<div class="container text-center">
		<br><br><br>
		<h2>Create your first project</h2>
		<%= link_to "Start project!", "#", class: "btn btn-success btn-lg" %>
	</div>
<% end %>