<<<<<<< HEAD
<div class="container">
	<h1>Create a new Project</h1>
	<%= render 'form' %>

	<%= link_to 'Back', jobs_path, class: "btn btn-success btn-lg"%>
</div>
=======
<center>
<div>
	<%= render 'shared/job_form'%>
</div>
</center>
>>>>>>> cc22f4d8021006001d06b92f081062ae9e43609d
