<!-- start:blog -->
					        <li id="id-blog">
					        	<div class="timeline-badge default"><i class="fa fa-comments"></i></div>
					        	<h1 class="timeline-head">BLOG</h1>
					        </li>
					        <li>
					          	<div class="timeline-badge primary"></div>
					          	<div class="timeline-panel">
					          		<div class="row" id="blog">
					          			<div class="col-md-7 col-sm-6 col-xs-12">
					          				<div class="blog-content">
					          					<h3><a href="#">Blog Post First</a></h3>
					          					<small><i class="fa fa-calendar"></i> <a href="#">16 Juni 2014</a> <i class="fa fa-user"></i> <a href="#">Admin</a> <i class="fa fa-comments"></i> <a href="#">20 Comments</a></small>
					          					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					          					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					          					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					          					consequat.</p>
					          				</div>
					          			</div>
					          			<div class="col-md-5 col-sm-6 col-xs-12">
					          				<img src="img/content/thumbnail.jpg" class="img-responsive">
					          			</div>
					          		</div>
					          	</div>
					        </li>
					        <li>
					          	<div class="timeline-badge primary"></div>
					          	<div class="timeline-panel">
					          		<div class="row" id="blog">
					          			<div class="col-md-7 col-sm-6 col-xs-12">
					          				<div class="blog-content">
					          					<h3><a href="#">Blog Post Second</a></h3>
					          					<small><i class="fa fa-calendar"></i> <a href="#">16 Juni 2014</a> <i class="fa fa-user"></i> <a href="#">Admin</a> <i class="fa fa-comments"></i> <a href="#">20 Comments</a></small>
					          					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					          					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					          					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					          					consequat.</p>
					          				</div>
					          			</div>
					          			<div class="col-md-5 col-sm-6 col-xs-12">
					          				<img src="img/content/thumbnail3.jpg" class="img-responsive">
					          			</div>
					          		</div>
					          	</div>
					        </li>
					        <li>
					          	<div class="timeline-badge primary"></div>
					          	<div class="timeline-panel">
					          		<div class="row" id="blog">
					          			<div class="col-md-7 col-sm-6 col-xs-12">
					          				<div class="blog-content">
					          					<h3><a href="#">Blog Post Thirds</a></h3>
					          					<small><i class="fa fa-calendar"></i> <a href="#">16 Juni 2014</a> <i class="fa fa-user"></i> <a href="#">Admin</a> <i class="fa fa-comments"></i> <a href="#">20 Comments</a></small>
					          					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					          					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					          					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					          					consequat.</p>
					          				</div>
					          			</div>
					          			<div class="col-md-5 col-sm-6 col-xs-12">
					          				<img src="img/content/thumbnail5.jpg" class="img-responsive">
					          			</div>
					          		</div>
					          	</div>
					        </li>
					        <!-- end:blog -->