<!-- start:footer -->
	<footer>
		<div class="container">
			<div class="text-center">
				<p>Copyright Contractr &copy; 2016. All Rights Severed</p>
			</div>
		</div>
	</footer>
	<!-- end:footer -->