<!-- start:work -->
<li id="id-work">
	<div class="timeline-badge default"><i class="fa fa-briefcase"></i></div>
	<h1 class="timeline-head">JOBS</h1>
</li>

<li>
 	<div class="timeline-badge danger"></div>
 	<div class="timeline-panel">
   	<div class="timeline-body">

   		
   		<ul class="thumbs">
            <% @user.jobs.first(3).each do |job| %>
					<li>
	             	<% link_to job_path(job) do %> 
	             		<div class="thumbnail"> 
	             			<img src="http://placehold.it/230x200">
              			</div>
	             		 
	             		<h4><%= job.name%></h4>
	             		</h4><span class="description">Placeholder</span>
	             	<% end %>
            	</li>
				<%end%>
        	</ul>

       

        	<div class="portfolio-content">
        	
	        	<div id="thumb1">
	        		<% @user.jobs.first(3).each do |job| %>
	                <div class="media"><img src=img src="http://placehold.it/350x200"/></div>
	                
	                <a <% link_to job_path(job)%> class="btn btn-primary">Learn More</a>
	         </div>
	            <% end %>
        	</div>
   	</div>
 	</div>
</li>
<!-- end:work -->