  <!-- start:work -->
					      <li id="id-work">
								<div class="timeline-badge default"><i class="fa fa-briefcase"></i></div>
								<h1 class="timeline-head">JOBS</h1>
							</li>

							<li>
					          	<div class="timeline-badge danger"></div>
					          	<div class="timeline-panel">
					            	<div class="timeline-body">

					            		
					            		<ul class="thumbs">
								            <li><a href="#thumb1" class="thumbnail" style="background-image: url('img/content/thumbnail.jpg')">
								                <h4>Design Room</h4><span class="description">Get More design</span></a>
								            </li>
								            <li>
								                <a href="#thumb2" class="thumbnail" style="background-image: url('img/content/thumbnail1.jpg')"><h4>Design Kitchen</h4><span class="description">Beautiful design</span></a>
								            </li>
								            <li>
								                <a href="#thumb3" class="thumbnail" style="background-image: url('img/content/thumbnail3.jpg')"><h4>Arsitecture</h4><span class="description">Clean Design</span></a>
								            </li>
								            <li>
								                <a href="#thumb4" class="thumbnail" style="background-image: url('img/content/thumbnail4.jpg')"><h4>Design Room</h4><span class="description">Beautiful design</span></a>
								            </li>
								            <li>
								                <a href="#thumb5" class="thumbnail" style="background-image: url('img/content/thumbnail5.jpg')"><h4>Design Kitchen</h4><span class="description">Clean Design</span></a>
								            </li>
								            <li>
								                <a href="#thumb6" class="thumbnail" style="background-image: url('img/content/thumbnail6.jpg')"><h4>Arsitecture</h4><span class="description">Get More design</span></a>
								            </li>
								        </ul>

								        <div class="portfolio-content">
								        	<div id="thumb1">
								                <div class="media"><img src="img/content/thumbnail.jpg"/></div>
								                <h1>Design Room</h1>
								                <p>Ut condimentum eros bibendum metus lacinia, ac condimentum justo faucibus. Nam nec dui convallis, sodales sapien in, gravida justo. Pellentesque pulvinar massa a nisl iaculis, quis iaculis elit tincidunt.</p>
								                <a href="#" class="btn btn-primary">Learn More</a>
								            </div>
								            <div id="thumb2">
								                <div class="media"><img src="img/content/thumbnail2.jpg"/></div>
								                <h1>Design Kitchen</h1>
								                <p>Ut condimentum eros bibendum metus lacinia, ac condimentum justo faucibus. Nam nec dui convallis, sodales sapien in, gravida justo. Pellentesque pulvinar massa a nisl iaculis, quis iaculis elit tincidunt.</p>
								                <a href="#" class="btn btn-primary">Learn More</a>
								            </div>
								            <div id="thumb3">
								                <div class="media"><img src="img/content/thumbnail3.jpg"/></div>
								                <h1>Arsitecture</h1>
								                <p>Ut condimentum eros bibendum metus lacinia, ac condimentum justo faucibus. Nam nec dui convallis, sodales sapien in, gravida justo. Pellentesque pulvinar massa a nisl iaculis, quis iaculis elit tincidunt.</p>
								                <a href="#" class="btn btn-primary">Learn More</a>
								            </div>
								            <div id="thumb4">
								                <div class="media"><img src="img/content/thumbnail4.jpg"/></div>
								                <h1>Design Room</h1>
								                <p>Ut condimentum eros bibendum metus lacinia, ac condimentum justo faucibus. Nam nec dui convallis, sodales sapien in, gravida justo. Pellentesque pulvinar massa a nisl iaculis, quis iaculis elit tincidunt.</p>
								                <a href="#" class="btn btn-primary">Learn More</a>
								            </div>
								            <div id="thumb5">
								                <div class="media"><img src="img/content/thumbnail5.jpg"/></div>
								                <h1>Design Kitchen</h1>
								                <p>Ut condimentum eros bibendum metus lacinia, ac condimentum justo faucibus. Nam nec dui convallis, sodales sapien in, gravida justo. Pellentesque pulvinar massa a nisl iaculis, quis iaculis elit tincidunt.</p>
								                <a href="#" class="btn btn-primary">Learn More</a>
								            </div>
								            <div id="thumb6">
								                <div class="media"><img src="img/content/thumbnail6.jpg"/></div>
								                <h1>Arsitecture</h1>
								                <p>Ut condimentum eros bibendum metus lacinia, ac condimentum justo faucibus. Nam nec dui convallis, sodales sapien in, gravida justo. Pellentesque pulvinar massa a nisl iaculis, quis iaculis elit tincidunt.</p>
								                <a href="#" class="btn btn-primary">Learn More</a>
								            </div>
								        </div>
					            	</div>
					          	</div>
					        </li>
					        <!-- end:work -->