<div>
	<%= form_for [@user, @skill] do |f| %>
		<div>
		<%= f.label :skill %>
		<%= f.text_field :skill %>
		</div>

		<div>
		<%= f.submit :'Create Skill', class: "btn btn-default" %>
		</div>
	<% end %>
</div>